{% extends 'base.html' %}

<!--

    newprompt is used for making any changes
    This can either be for a user prompt or the last model prompt

    All user entries can be edited. This should:
    - highlight the row
    - move the row to the prompt box
    - enable a submit and cancel button  
    
    Submit should:
    - unhighlight the row
    - delete the row and any posts/chat history after the row
    - resubmit the chat with the revised prompt
    - clear the prompt box and underlying database
    - on completion, redisplay the form

    Cancel should:
    - unhighlight the row
    - clear the prompt box

    If the last entry is a model-entry, it can be edited. This should
    - highlight the row
    - move the row to the prompt box
    - enable submit and cancel

    Submit should:
    - update the row
    - update the chat history

    Cancel should:
    - unhighlight the row
    - clear the prompt box
-->

{% block header %}
  <h2>{% block title %}Update Story{% endblock title %}</h2>
  <script>  
    // Function to update the number of characters in the prompt
    // TODO:Could be changed to calculate tokens
    //
    function updateCount() {
        const text = document.getElementById("newprompt").value;
        document.getElementById("charCount").textContent = text.length;
    };
    // Function to update a field on the stories table
    // TODO: Error and success console logging might be improved
    //
    function handleInput(event) {
        var target = event.target.id;
        var new_value = event.target.value;
    
        $.ajax({
            url: "/update_story",
            type: "post",
            data: {'story_id': st_id, 'field' : target , 'new value' : new_value },
            dataType: 'json',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        })
    };
    // Function to reset the prompt field
    // Resets the story newprompt value to "", the prompt to "" and the screen mode to New
    //
    function cancelUpdate(){
        document.getElementById("newprompt").value = "";
        const row_id="row_" + AppState.editRow;
        console.log("Row "+row_id)
        document.getElementById(row_id).classList.remove("highlighted");

        $.ajax({
            url: "/update_story",
            type: "post",
            data: {'story_id': st_id, 'field' : 'newprompt' , 'new value' : '' },
            dataType: 'json',
            success: function(response) {
                console.log(response);
                setFormMode("New", -1);
            },
            error: function(error) {
                console.log(error);
            }
        })
    };
    // Generic function to post prompts to the back-end
    // TODO: Error and success console logging might be improved
    //  
    function post() {
        const prompt = document.getElementById("newprompt").value;
        $.ajax({
            url: "/generate",
            type: "post",
            data: {'story_id': st_id, 'prompt' : prompt, "mode" : AppState.formMode, 'row_id' : AppState.editRow },
            dataType: 'json',
            success: function(response) {
                console.log(response);
                window.location.reload();

            },
            error: function(error) {
                console.log(error);

            }
        })

    };
  
    function selectRow(btn, mode){
        const row = btn.closest("tr");
        // Highlight the selected row
        row.classList.add("highlighted");
        // retrieve prompt and assign to row contents
       $.ajax({
            url: "/get_message",
            type: "get",
            data: {'post_id': row.cells[0].textContent},
            dataType: 'json',
            success: function(response) {
                console.log(response);
                document.getElementById("newprompt").value = response['message'];
                setFormMode(mode, row.cells[0].textContent)
            },
            error: function(error) {
                console.log(error);

            }
        })

    }

    function setFormMode(mode, row_id){
        AppState.formMode = mode;
        AppState.editRow = row_id;
        document.getElementById("mode").textContent = mode + " Mode";
    };
    
    const urlParams = new URLSearchParams(window.location.search);
    const st_id = urlParams.get('story_id');

    const AppState = {
        formMode: "New",
        editRow: -1, 
    };


    document.addEventListener("DOMContentLoaded", function () {
        updateCount();
        setFormMode("New",-1);
    });

    window.addEventListener("load", function () {
        window.scrollTo(0, document.body.scrollHeight);
    });


</script>

{% endblock header %}

{% block content %}

<div id="top">
    <h2> Story id: {{story['story_id']}} Author {{story['author']}}</h2>
    <p style="text-align: right;"> Created {{story['created'].strftime("%b %d, %Y at %I:%M%p")}}</p>

</div>

<div id="controls">
    <label for="title"> Title: </label>
    <input type="text" id="title" value="{{story['title']}}" onchange="handleInput(event)">
    <label for="note"> Note: </label>
    <input class="edit-text" type="textarea" id="note" value="{{story['note']}}" onchange="handleInput(event)">
    <label for="systemInstruction"> System Instruction: </label>
    <input class="edit-text" type="textarea" id="systemInstruction" value="{{story['systemInstruction']}}" onchange="handleInput(event)">
</div>

<p id="output"></p>

<div id="posts">
    <table id='postsTable'>
        <thead>
            <th class="hide">id</th>
            <th>Message</th>
         </thead>

        <tbody>

            {% for post in posts %}
                <tr id="row_{{post['post_id']}}">
                    <td class="hide">{{post["post_id"]}}</td>
                    <td><div id="message{{post['post_id']}}" class="{% if post['creator'] == 'model'%}model{% else %}user{% endif %}">{{post["message"]| safe }}</div>
                    <div class="button_bar">
                        {% if post['creator'] == "user" %}
                            <button class='btn btn-secondary btn-sm' type="button" id="{{post['post_id']}}" onclick="selectRow(this, 'Edit Prompt')">Edit</button> 
                        {% endif %}  
                        {% if loop.last and post['creator'] == "model" %}
                            <button class='btn btn-secondary btn-sm' type="button" id="{{post['post_id']}}" onclick="selectRow(this, 'Edit Response')">Edit</button>
                        {% else %}
                            <div></div>     
                        {% endif %}
                        <span class="created">Created {{post["created"].strftime("%b %d, %Y at %I:%M%p")}}</span></td>
                    </div>
                </tr>

            {% endfor %}

        </tbody>
    </table>

    <div class="controls-bar">
        <h2 id="mode"></h2>
        <textarea id="newprompt" class="entry-textarea" oninput="updateCount()" onchange="handleInput(event)">{{story['newpost']}}</textarea>
        <br>
        <div class="button_bar">
            <button onclick="cancelUpdate()" class="btn btn-primary btn-lg">Cancel</button> <!--Available in new and edit mode. In new mode it blanks out the prompt in edit it returns to new mode as well -->
            <button onclick="post()" class="btn btn-primary btn-lg">Submit</button> <!--In new mode it simply submits a new message. In editResp it updates the last element in the chat history. 
            In editPost it removes the chat history from that post onwards and resubmits the chat-->
            <div>
                Character count: <span id="charCount">0</span>
            </div>
        </div>
    </div>
</div>

{% endblock content %}