{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Update Story{% endblock title %}</h2>
{% endblock header %}

{% block content %}

<div id="top">
    <h2> Story: {{story['title']}} </h2>
    <div class="row d-flex justify-content-between align-items-center mb-3">
        <div class="col-md-4">
            <h4>Author {{current_user.user_name}}</h4>
        </div>
        <div class="created col-md-4"> Created {{story['created'].strftime("%b %d, %Y at %I:%M%p")}}</span>
        </div>
    </div>
</div>

<div id="controls" class="container-fluid mb-3">
    <label for="title"> Title: </label>
    <input type="text" id="title" value="{{story['title']}}" onchange="handleInput(event)">
    <div class="row">
        <div class="col-md-6">
            <label for="note"> Note: </label>
            <textarea class="form-control" rows="6" id="note" onchange="handleInput(event)">{{story['note']}}</textarea>
        </div>
        <div class="col-md-6">
            <label for="systeminstruction"> AI Guidance: </label>
            <textarea class="form-control" rows="6" id="systeminstruction"
                onchange="handleInput(event)">{{story['systeminstruction']}}</textarea>
        </div>
    </div>
</div>

<div id="posts">
    <table id='postsTable' style="width:100%;">
        <thead>
            <th class="hide">id</th>
            <th class="text-center">Posts and Responses</th>
        </thead>

        <tbody id="postsRows">

<!--            
        {% for post in posts %}
            <tr id="row_{{post['post_id']}}">
                <td class="hide">{% if post.part_type == "text" %}None{% else %}{{post["post_id"]}}{% endif %}</td>
                <td>
                    {% if post.part_type=="text" %}
                        <div class="row border p-3 mb-3 align-items-start">

                            {%if post.image_mime_type != ""%}
                            <div class="col-auto">
                                <img src="{{post['image_data']}}" class="img-fluid"
                                    style="max-width:300px; vertical-align: middle;" />
                            </div>
                            {% endif %}
                            <div class="col d-flex flex-column h-100 justify-content-between" data-markdown="{{post['message_md']}}" data-html="{{post['message']}}">
                                <p>{{post["message"]| safe }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div id="message_{{post['post_id']}}"
                            class="{% if post['creator'] == 'model'%}model{% else %}user{% endif %} border-top border-secondary" data-markdown="{{post['message_md']}}" data-html="{{post['message']}}">
                            {{post["message"]| safe }}
                        </div>
                        <div class="row" align-items-center>
                            <div class="col-6 d-flex justify-content-start gap-2">
                                {% if post['creator'] == "user" %}
                                    <button class='btn btn-primary actions' type="button" id="{{post['post_id']}}"
                                        onclick="editRow(this, 'Edit Prompt')">Edit</button>
                                    <button class='btn btn-primary d-none row-button' type="button" id="update_{{post['post_id']}}"
                                        onclick="updateRow(this, 'Edit Prompt')">Update</button>
                                    <button class='btn btn-primary d-none row-button' type="button" id="cancel_{{post['post_id']}}"
                                        onclick="cancelEditRow(this, 'Edit Prompt')">Cancel</button>
                                    <button class='btn btn-primary d-none row-button' type="button" id="delete_{{post['post_id']}}"
                                        onclick="deleteEditRow(this, 'Edit Prompt')">Delete</button>
                                {% endif %}
                                {% if loop.last and post['creator'] == "model" %}
                                    <button class='btn btn-primary actions' type="button" id="{{post['post_id']}}"
                                        onclick="editRow(this, 'Edit Response')">Edit</button>
                                    <button class='btn btn-primary d-none row-button' type="button" id="update_{{post['post_id']}}"
                                        onclick="updateRow(this, 'Edit Response')">Update</button>
                                    <button class='btn btn-primary d-none row-button' type="button" id="cancel_{{post['post_id']}}"
                                        onclick="cancelEditRow(this, 'Edit Response')">Cancel</button>
                                {% else %}
                                    <div></div>
                                {% endif %}
                            </div>

                            <div class="col-2 dflex"> </div>

                            <div class="col-4 d-flex justify-content-end align-items-center gap-2">

                                Comment: Spinner (initially hidden)
                                <div id="loadingSpinner_{{post['post_id']}}" class="spinner-border text-primary" role="status" style="display: none;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                        
                                <span class="created">Created {{post["created"].strftime("%b %d, %Y at %I:%M%p")}}</span>
                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>

        {% endfor %}
-->
        </tbody>
    </table>
</div>


<div id="flash-container" style="margin-top: 20px;"></div>

<div class="controls-bar">
    <div class="row" align-items-center>
        <div class="col-2 d-flex"></div>
        <h2 class="col-8 justify-content-between">New Prompt</h2>
        <div id="mode" class="col-2 d-flex justify-content-end text-info"></div>
    </div>
    <textarea id="newprompt" class="entry-textarea mb-3 full-size-textarea border border-primary" oninput="updateCount()"
        onchange="handleInput(event)">{{story['newpost']}}</textarea>
    <br>

    <div class="row" align-items-center>
        <div class="col-6 d-flex justify-content-start gap-2">
            <button id="submit" onclick="post()" class="btn btn-primary actions" disabled>Submit</button> <!--In new mode it simply submits a new message. In editResp it updates the last element in the chat history. 
                In editPost it removes the chat history from that post onwards and resubmits the chat-->
            <button id="cancel" onclick="cancelUpdate()" class="btn btn-primary actions" disabled>Cancel</button>
            <!--Available in new and edit mode. In new mode it blanks out the prompt in edit it returns to new mode as well -->
            <button type="button" class="btn btn-primary actions" data-bs-toggle="modal" data-bs-target="#assignCharModal">Add
                Character</button>
        </div>

        <div class="col-2 dflex"> </div>

        <div class="col-4 d-flex justify-content-end align-items-center gap-2">

            <!-- Spinner (initially hidden) -->
            <div id="loadingSpinner" class="spinner-border text-primary" role="status" style="display: none;">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div>
                Character count: <span id="charCount" class="text-end">0</span>
            </div>
        </div>
    </div>

    <div id="placeholder" style="margin-top: 30px"></div>
</div>


{{ macros.modal_box('confirmModal', 'Confirm dialogue') }}

{{ macros.charPicker(chars)}}

<script>
    //
    // Function to update the number of characters in the prompt
    // TODO:Could be changed to calculate tokens
    //
    function updateCount() {
        const text = document.getElementById("newprompt").value;
        document.getElementById("charCount").textContent = text.length;
        document.getElementById('submit').disabled = text.length < 5;
        document.getElementById('cancel').disabled = text.length < 5;;
    };
    //
    // Function to update a field on the stories table
    //
    function handleInput(event) {
        var target = event.target.id;
        var new_value = event.target.value;

        $.ajax({
            url: "/update_story",
            type: "post",
            data: { 'story_id': st_id, 'field': target, 'new value': new_value },
            dataType: 'json'
        }).done(function (response) {
            console.log(response);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log("AJAX Error", textStatus, errorThrown);
            showNotifyModal("Story Update - Something went wrong: " + errorThrown, "Error");
        })
    };
    // Function to reset the prompt field
    // Resets the story newprompt value to "", the prompt to "" and the screen mode to New
    //
    function cancelUpdate() {
        clearFlashMessage();
        document.getElementById("newprompt").value = "";

        $.ajax({
            url: "/update_story",
            type: "post",
            data: { 'story_id': st_id, 'field': 'newprompt', 'new value': '' },
            dataType: 'json'
        }).done(function (response) {
            console.log(response);
            setFormMode("New", -1);
            updateCount();
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log("AJAX Error", textStatus, errorThrown);
            showNotifyModal("Cancel Story Update - Something went wrong: " + errorThrown, "Error");
        })
    };
    //
    // Function to insert new prompts
    //  
    function post() {
        clearFlashMessage();
        const prompt = document.getElementById("newprompt").value;
        const tbody = document.getElementById("postsRows");
        const spinner = document.getElementById('loadingSpinner');
        spinner.style.display = 'inline-block'; // Show spinner
        document.querySelectorAll('.actions').forEach(btn => {
            btn.disabled = true;
        });

        $.ajax({
            url: "/generate",
            type: "post",
            data: {
                'story_id': st_id,
                'prompt': prompt,
                "mode": AppState.formMode,
                'row_id': AppState.editRow,
                'chars': JSON.stringify(AppState.chars)
            },
            dataType: 'json'
        }).done(function (response) {
            console.log(response);
            addNewRows(tbody,response.posts);
            if (response.messages) {
                response.messages.forEach(([category, message]) => {
                    showFlashMessage(category, message);
                });      
            };
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log("AJAX Error", textStatus, errorThrown);
            showNotifyModal("Post - Something went wrong: " + errorThrown, "Error");
            console.log(error);
        }).always(function () {
            spinner.style.display = 'none';
            document.getElementById("newprompt").value="";
            resetEdit("", all=false);
        })
    };
    //
    // Button handlers for row buttons
    //
    // Edit prepares the row being edited
    //
    function editRow(btn, mode) {
        clearFlashMessage();
        const row = btn.closest("tr");
        // Highlight the selected row
        row.classList.add("highlighted");
        // Disable all other buttons
        document.querySelectorAll('.actions').forEach(btn => {
            btn.disabled = true;
        });
        // Disable newprompt
        document.getElementById("newprompt").disabled = true;

        // retrieve markdown prompt and replace html with a textarea
        const id=row.cells[0].textContent;

        setFormMode(mode, id);

        const mdiv="message_" + id;
        const cell = document.getElementById(mdiv);
        const celldata=cell.dataset.markdown; 
        const md = "<textarea class='full-size-textarea' height='auto' id='editBox'>"+ celldata + "</textarea>";

        cell.innerHTML = md;
        const editBox=document.getElementById('editBox')
        editBox.style.height = editBox.scrollHeight + "px"; // Set to content height

        document.querySelectorAll('#' + row.id +' .row-button').forEach(btn => {
            btn.disabled = false;
            btn.classList.remove("d-none");
        });
    };
    //
    // Update processes the row. It updates the database then the table
    // The back-end passes back the updated record
    //
    function updateRow(btn, mode) {
        const row = btn.closest("tr");       
        const id=AppState.editRow;
        const spinner = document.getElementById('loadingSpinner_' + id);
        spinner.style.display = 'inline-block'; // Show spinner

        const new_value = document.getElementById("editBox").value;

        $.ajax({
            url: "/generate",
            type: "post",
            data: {
                'story_id': st_id,
                'prompt': new_value,
                "mode": AppState.formMode,
                'row_id': AppState.editRow,
                'chars': JSON.stringify(AppState.chars)
            },
            dataType: 'json'
        }).done(function (response) {
            // Remove subsequent rows
            if (mode=="Edit Prompt")
            {
                tbody = row.parentElement;
                deleteNextRows(row);
                addNewRows(tbody, response.posts);
                resetEdit(row, all=false)
            }
            else {
                const row = btn.closest("tr");      
                const id=row.cells[0].textContent;
                const mdiv="message_" + id;
                const cell = document.getElementById(mdiv);

                updpost = response.posts[0];
                console.log("Post" + updpost.post_id);
                cell.innerHTML = updpost.message;
                cell.dataset.html = updpost.message;
                cell.dataset.markdown = updpost.message_md;
                resetEdit(row, all=true)

            };
            if (response.messages) {
                response.messages.forEach(([category, message]) => {
                    showFlashMessage(category, message);
                });      
            };    
            console.log(response);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log("AJAX Error", textStatus, errorThrown);
            showNotifyModal("Post - Something went wrong: " + errorThrown, "Error");
            console.log(error);
        }).always(function () {
            spinner.style.display="None";
        });
        
    };
//
// Resets the cell after the user presses cancel
//
    function cancelEditRow(btn, mode) {
        const row = btn.closest("tr");      
        const id=row.cells[0].textContent;
        const mdiv="message_" + id;

        const cell = document.getElementById(mdiv);       
        cell.innerHTML = cell.dataset.html;

        resetEdit(row);
    };
//
//
//
    function deleteEditRow(btn, mode){     
        deleteClicked(AppState.editRow, deleteRows, "this post");
    };

    function deleteRows(){
        $.ajax({
            url: "/deleteRows",
            type: "post",
            data: { 'post_id': AppState.editRow, "story_id" : st_id },
            dataType: "json"
        }).done(function (response) {
            const row_div="row_" + AppState.editRow;
            const row=document.getElementById(row_div);
            deleteNextRows(row);
            row.remove();
            if (response.messages) {
                response.messages.forEach(([category, message]) => {
                    showFlashMessage(category, message);
                });      
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log("AJAX Error", textStatus, errorThrown);
            showNotifyModal("Delete rows - Something went wrong: " + errorThrown, "Error");
        }).always(function(){
            resetEdit("", all=false);
        });

    };

    function resetEdit(row, all=true){
        if (all){
            row.classList.remove("highlighted");
            document.querySelectorAll('#' + row.id +' .row-button').forEach(btn=> {
                btn.disabled=true;
                btn.classList.add("d-none");
            })
        };
        document.querySelectorAll('.actions').forEach(btn => {
            btn.disabled = false;
        });
        document.getElementById("newprompt").disabled = false;
        updateCount();
        const chars = document.getElementById("placeholder");
        chars.innerHTML = "";
        setFormMode('New',-1);

    };

    function deleteNextRows(row) {
        let current = row;

        while (current) {
            const next = current.nextElementSibling;
            current.remove();
            current = next;
        };
    };

    function addNewRows(tbody, posts) {
      posts.forEach((post, index)=> {
        const is_last = index == posts.length - 1;
        const row = tbody.insertRow();
        row.id=`row_${post.post_id}`
        var secondCell="";
        var imgHTML="";
        var btnHTML="";
        const firstCell = `
            <td class = "hide">${post.part_type == "text" ? "None" : post.post_id }</td>
            `;
        if (post.part_type == "text"){
            imgHTML="";
            if (post.image_mime_type != ""){
                imgHTML=`<div class="col-auto">
                            <img src="${post.image_data}" class="img-fluid"
                            style="max-width:300px; vertical-align: middle;" />
                        </div>`
                };
                secondCell = `
                    <div class="row border p-3 mb-3 align-items-start">` + imgHTML + 
                    `<div class="col d-flex flex-column h-100 justify-content-between" data-markdown="${escapeHtmlAttr(post.message_md)}" data-html="${escapeHtmlAttr(post.message)}">
                       ${post.message}
                    </div>
                </div>
                `;
            }
        else {
            secondCell= `
                <div id="message_${post.post_id}"
                        class="${post.creator == 'model' ? 'model' : 'user'} border-top border-secondary" data-markdown="${escapeHtmlAttr(post.message_md)}" 
                            data-html="${escapeHtmlAttr(post.message)}">
                        ${post.message}
                    </div>
                    <div class="row" align-items-center>`;
            
            extra_buttons = "";
            if (post.creator=="user") {
                extra_buttons = `
                <button class='btn btn-primary d-none row-button' type="button" id="delete_${post.post_id}"
                    onclick="deleteEditRow(this, 'Edit Prompt')">Delete</button>
                `;
            }
            if (post.creator=="user" || (post.creator=="model" && is_last)) {
                btnHTML = `
                        <div class="col-6 d-flex justify-content-start gap-2">
                            <button class='btn btn-primary actions' type="button" id="${post.post_id}"
                                onclick="editRow(this, '${post.creator=='user' ? 'Edit Prompt' : 'Edit Response'}')">Edit</button>
                            <button class='btn btn-primary d-none row-button' type="button" id="update_${post.post_id}"
                                onclick="updateRow(this, '${post.creator=='user' ? 'Edit Prompt' : 'Edit Response'}')">Update</button>
                            <button class='btn btn-primary d-none row-button' type="button" id="cancel_${post.post_id}"
                                onclick="cancelEditRow(this, '${post.creator=='user' ? 'Edit Prompt' : 'Edit Response'}')">Cancel</button>
                    ` + extra_buttons + `</div>`;
            }
            else {
                btnHTML= `<div class="col-6 dflex"></div>`;
            };
            
            secondCell = secondCell + btnHTML + `
                <div class="col-2 dflex"> </div>

                <div class="col-4 d-flex justify-content-end align-items-center gap-2">
                    <div id="loadingSpinner_${post.post_id}" class="spinner-border text-primary" role="status" style="display: none;">
                        <span class="visually-hidden">Loading...</span>
                    </div>

                <span class="created">Created ${formatDate(post.created)}</span>
            </div>`;
        }
        row.innerHTML = firstCell + "<td>" + secondCell + "</td>";
        })
    };
    //
    // Used to create and display a container with a character and the associated text
    //
    function buildChar(id, mime_type, img, text) {
        // 1. Create the container

        var outHTML= `
            <div id="Container_${id}" class="row border p-3 mb-3 align-items-start characters">
                `;
        // 2. Create the image
        if (mime_type != "") {
            outHTML += `
                <div class="col-auto">
                    <img src=${img} alt="Preview" style="width: 200px; class="img-fluid">
                </div>` ;
        }

        // 3. Create the text
        outHTML += `
                <div class="col">
                    <div class="d-flex flex-column h-100 justify-content-between">
                        <p class="mt-2 text-muted">${text}</p>
                        <div class="text-end">
                            <button class="btn btn-secondary" type="button" id="clear_${id}" onclick="processClearChar(event)">Clear</button>
                        </div>
                    </div>
                </div>
            </div>`;

        return outHTML;
    }

    function processClearChar(event) {
        var target = event.target.id;
        const number = target.split("_")[1];
        const contdel = "Container_" + number;
        document.getElementById(contdel).remove();
        const ix = AppState.chars.indexOf(number);
        AppState.chars.splice(ix, 1);

    };
    // 
    // Used to determine if form is in add or edit mode and to blank list of characters
    //
    function setFormMode(mode, row_id) {
        AppState.formMode = mode;
        AppState.editRow = row_id;
        document.getElementById("mode").textContent = mode + " Mode";
        AppState.chars = []
    };

    //
    // Add components to form
    //
    const urlParams = new URLSearchParams(window.location.search);
    const st_id = urlParams.get('story_id');
    const posts={{ posts | tojson }};

    const AppState = {
        formMode: "New",
        editRow: -1,
        chars: []
    };

    document.addEventListener("DOMContentLoaded", function () {
        updateCount();
        setFormMode("New", -1);
        const tbody=document.getElementById("postsRows");
        addNewRows(tbody,posts);
    });

    window.addEventListener("load", function () {
        window.scrollTo(0, document.body.scrollHeight);
    });

    document.getElementById('assignCharForm').addEventListener('submit', function (e) {
        e.preventDefault();
        clearFlashMessage();
        const id = document.getElementById("charSelect").value

        $.ajax({
            url: "/assignChar",
            type: "post",
            data: { 'char_id': id },
            dataType: "json"
        }).done(function (response) {
            AppState.chars.push(id);
            outHTML = buildChar(id, response['image_mime_type'], response['img'], response['text']);
            
            target = document.getElementById("placeholder");
            target.innerHTML += outHTML;

            const modal = bootstrap.Modal.getInstance(document.getElementById('assignCharModal'));
            modal.hide();
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log("AJAX Error", textStatus, errorThrown);
            showNotifyModal("Assign Character - Something went wrong: " + errorThrown, "Error");
        });
    });

</script>

{% endblock content %}