{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Add Story{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<div id="isadmin-data" data-isadmin='{{ isadmin | tojson }}'></div>

<form method="post" style="margin-bottom: 20px;" autocomplete="off">
    <div>
        Author: {{current_user.user_name}}
    </div>

    {{ macros.input('title', 'Title', story.title) }}

    {{ macros.textarea('note', 'Note', story.note) }}

    {{ macros.textarea('systeminstruction', 'AI Guidance', story.systeminstruction) }}

    <input type="hidden" name="paramsSaved" value="False">

    <div class="d-flex justify-content-between">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#studio">Studio</button>
        </div>
    </div>

</form>

{{ macros.studioModal(story, sysints, isadmin) }}

{{ macros.modalConfirm('Notify', 'Notification') }}

{% endblock content %} 

{% block scripts %}
<script type="module" defer src="{{url_for('static',filename='js/controller/storiesAddController.js')}}"></script>
{% endblock scripts %}