{% extends 'base.html' %}

{% block header %}
<div class="d-flex justify-content-between align-items-center py-3 px-4 border-bottom">
  <div class="flex-grow-1 text-center">
    <h2 class="m-0">Stories</h2>
  </div>
  <div class="ms-auto">
    <a href="/create" class="btn btn-primary">Add</a>
  </div>
</div>
{% endblock header %}

{% block content %}
<table id='storyTable'>
  <thead>
    <th class="hide">id</th>
    <th>Title</th>
    <th>Note</th>
    <th>Author</th>
    <th>Created</th>
    <th class="button_col">Update</th>
    <th class="button_col">Print</th>
    <th class="button_col">Delete</th>
  </thead>

  <tbody>

    {% for story in stories %}
      <tr id="row_{{story['story_id']}}">
        <td class="hide">{{story["story_id"]}}</td>
        <td>{{story["title"]}}</td>
        <td>{{story["note"]}}</td>
        <td>{{current_user.user_name}}</td>
        <td>{{story["created"].strftime("%b %d, %Y at %I:%M%p")}}</td>
        <td class="button_col">
          <form method="post">
            <button type="submit" name="action" id="{{story['story_id']}}" value="{{story['story_id']}}"
              class="btn btn-secondary">
              <i class="bi bi-pen-fill"></i>
            </button>
          </form>
        </td>

        <td class="button_col">
          <button class="btn btn-secondary printButton" type="button" id="prnt_{{story['story_id']}}">
            <i class="bi bi-printer-fill"></i>
          </button>
        </td>

        <td class="button_col">
          <button class='btn btn-danger btn-secondary deletebutton' type="button" id="del_{{story['story_id']}}">
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>

      </tr>
    {% endfor %}
  </tbody>
</table>

{{ macros.modal_box('confirmModal', 'Confirm dialogue') }}

{{ macros.modalConfirm('title', 'message') }}

<script>
//
// Add delete functionality to delete button
//
document.querySelectorAll('.deletebutton').forEach(button => {
      button.addEventListener('click', event => {
        var id = event.currentTarget.id;
        const row = document.getElementById(id)?.closest("tr");
        const title = row?.cells[1]?.textContent.trim();
        const dlid = id.substr(4);
        deleteClicked(dlid, deleteStory, title);
      });
    });
//
// Add print functionality to print button
//
    document.querySelectorAll('.printButton').forEach(button => {
      button.addEventListener('click', event => {
        var id = event.currentTarget.id;
        printClicked(id);
      });
    });
//
// Catch the user pressing print
//
    function printClicked(id) {
      const prid = id.substr(5);
      const rowid = "row_" + prid;
      const row = document.getElementById(rowid);
      const title = row.cells[1].textContent.trim();
      showBootstrapConfirm((confirmed, opts) => {
        if (confirmed) {
          printStory(prid);
        }
        else {
          console.log("Print Cancelled.");
        };
      }, {
        mode: 'print',
        title: title
      });
    };
//
// Process delete story
//
    function deleteStory(id) {
      $.ajax({
        url: "/delete_story",
        type: "post",
        data: { 'story_id': id },
        dataType: 'json',
        success: function (response) {
          console.log(response);
          var rowid = "row_" + id;
          var r = document.getElementById(rowid);
          var i = r.rowIndex;
          document.getElementById("storyTable").deleteRow(i);
        },
        error: function (error) {
          console.log(error);
        }
      })
    };
//
// Process print story
//
    function printStory(id) {
      $.ajax({
        url: "/print_story",
        type: "post",
        data: { 'story_id': id },
        xhrFields: {
          responseType: 'blob'  // Expect binary data
        }
      }).done(function (blob) {
        // Create a temporary URL for the blob
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        const rowid = "row_" + id;
        const row = document.getElementById(rowid);
        const title = row.cells[1].textContent.trim();
        a.download = title + ".docx";  
        document.body.appendChild(a);
        a.click();
        a.remove();
        window.URL.revokeObjectURL(url);  // Clean up
        showNotifyModal("File created in Download folder", "Success")
      }).fail(function (jqXHR, textStatus, errorThrown) {
        showNotifyModal("Print - Something went wrong: " + errorThrown, "Error");
        console.log("AJAX Error", textStatus, errorThrown);
      });

    }

  </script>


</table>
{% endblock content %}