# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore .env file
.env*

# Ignore database
*.sqlite
*.sql

# Ignore VSCode files
*.code-workspace

# Ignore pyc files
*.pyc
__pycache__/*

#Ignore key file

big-pact*.json