{% import '_components.html' as macros %}
{% import '_charDropdownItem.html' as charDropdownItem %}

{% macro charsPicker(story, chars, mode="Add") %}
<div class="modal fade" id="charPicker" tabindex="-1" aria-labelledby="charPickerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="charsForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="charPickerLabel">{% if mode == "Add" %}Add Characters{% else %}Edit Character{% endif %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">

                        {{char_dropdown(chars, selected_id=char.char_id if mode == "Edit" else '', input_name='charSelect', button_text='-- Select a character --')}}
                        
                        {% if mode != "Pick" %}                     
                            {{macros.textarea(name='charNotes', label='Story Notes', value= "" if mode =="Add" else char.note)}}
                        {% endif %}

                    <div class="modal-footer">
                        <button id = "addChar" type="button" class="btn btn-primary" data-id="{{ story.story_id }}">Apply</button>
                        <button id = "closeModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>

                    </div>
                </div>
            </form>
        </div>
    </div>  
</div>
{% endmacro %}

{% macro charsList(storyChars) %}
<div class="modal fade" id="charsList" tabindex="-1" aria-labelledby="charsListLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="charsListLabel">Story Characters</h5>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <table>
                        <thead>
                            <tr>
                                <th>Details</th>
                                <th>Picture</th>
                            </tr>                
                        </thead>
                        <tbody>
                            {% for storyChar in storyChars %}
                                <tr>
                                    <td>
                                        {{storyChar.textBundle | safe}}
                                    </td>
                                    <td>
                                        <img style="display:none; max-width:300px;" />
                                        {% if storyChar.image_data %}
                                            <img id="currentImage" name="currentImage" src="{{ storyChar.image_data }}" style="max-width:300px;" />
                                        {% endif %}
                                    </td>
                                </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>                    
                <div class="modal-footer">
                    <button id = "closeModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

                </div>
            </div>
        </div>
    </div>  
</div>
{% endmacro %}

{% macro char_dropdown(
    chars,
    selected_id='',
    dropdown_id='charDropdown',
    input_name='char_id',
    button_text='-- Select a character --'
) %}

<div class="dropdown mb-3">

    <input type="hidden"
           name="{{ input_name }}"
           id="{{ input_name }}"
           value="{{ selected_id }}">

    <button class="btn btn-outline-secondary dropdown-toggle w-100 text-start"
            type="button"
            id="{{ dropdown_id }}"
            data-bs-toggle="dropdown"
            aria-expanded="false">

        {{ button_text }}

    </button>

    <ul class="dropdown-menu w-100"
        id="ul-{{dropdown_id}}"
        aria-labelledby="{{ dropdown_id }}"
        style="max-height: 300px; overflow-y: auto;">

        {% for char in chars %}
            {{ charDropdownItem.char_dropdown_item(char, input_name, dropdown_id) }}
        {% endfor %}

    </ul>

</div>

{% endmacro %}

{% macro editCharModal() %}
<!-- Edit Character Modal. Not defined as macro as rendered client-side -->
<div class="modal fade" id="editCharModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="editTitle">Edit Character Notes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <input type="hidden" id="editCharId"></input>

        <div class="mb-3" id="editCharDescription" class="border rounded p-2" style="background-color: #f8f9fa;"></div>

        <div class="mb-3">
          <label for="editCharNotes" class="form-label">Notes</label>
          <textarea class="form-control" id="editCharNotes" rows="4"></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" id="saveCharBtn">Save</button>
      </div>

    </div>
  </div>
</div>
{% endmacro %}
