{% macro modal_box(id, title, body='', footer='') %}
<!-- Confirmation Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmTitle">Confirm Delete</h5>
            </div>
            <div class="modal-body" id="confirmText">
                Are you sure you want to proceed?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelBtn">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmBtn">Yes, Proceed</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro modalConfirm(title, message) %}
<div class="modal fade" id="Notify" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="myModalBorder">

            <div class="modal-header" id="myModalHeader">
                <h5 class="modal-title" id="myModalLabel">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" id="modal-message">
                {{message}}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
{% endmacro %}

{% macro flashMessages() %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">{% if category == "danger"%}error{% else %}{{category}}{% endif %} - {{ message
    }}</div>
{% endfor %}
{% endif %}
{% endwith %}
{% endmacro %}

{% macro table(table_id, rows, columns, id_field, print=False, generate=False) %}
<table id="{{ table_id }}" class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="d-none">id</th>

            {% for label,key in columns %}
            <th>{{ label }}</th>
            {% endfor %}


            <th class="button_col">Upd</th>

            {% if generate %}
            <th class="button_col">Gen</th>
            {% endif %}

            <th class="button_col">Del</th>

            {% if print %}
            <th class="button_col">Prt</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for row in rows %}
        <tr data-id="{{ row[id_field] }}">
            <td class="d-none">{{ row[id_field] }}</td>

            {% for label, key in columns %}
            {% if key in ['description','note'] %}
            <td style="max-width: 400px;">
                {% else %}
            <td>
                {% endif %}

                {% if key in ['created','updated'] %}
                {{ row[key].strftime("%b %d, %Y") }}
                {% elif key == 'book' %}
                    {% if row[key] %}
                        <i class="bi bi-book"></i>
                    {% else %}
                        <i class="bi bi-file-text"></i>
                    {% endif %} 
                {% elif key == 'status' %}
                    {% if row[key] == 'in_progress' %}
                        In Progress
                    {% elif row[key] == 'draft' %}
                        Draft
                    {% else %}
                        Complete
                    {% endif %}
                {% else %}
                {{ row[key] }}
                {% endif %}
            </td>
            {% endfor %}

            <td class="button_col">
                <form method="post">
                    <button type="submit" name="action" value="{{ row[id_field] }}"
                        class="btn btn-secondary update-button" data-id="{{ row[id_field] }}">
                        <i class="bi bi-pen-fill"></i> 
                    </button>
                </form>
            </td>

            {% if generate %}
            <td class="button_col">
                <form method="post">
                    <button type="submit" name="action" value="Generate:{{ row[id_field] }}" {% if row.status == 'complete' %}disabled{% endif %}
                        class="btn btn-secondary generate-button" data-id="{{ row[id_field] }}">
                        {%if row.book %}
                            <i class="bi bi-list-ol"></i>
                        {% else %}
                            <i class="bi bi-caret-right-fill"></i>
                        {% endif %}
                    </button>
                </form>
            </td>
            {% endif %}

            <td class="button_col">
                <button class="btn btn-danger delete-button" type="button" data-id="{{ row[id_field] }}">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </td>

            {% if print %}
            <td class="button_col">
                <button class="btn btn-secondary print-button" type="button" data-id="{{ row[id_field] }}">
                    <i class="bi bi-printer-fill"></i>
                </button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endmacro %}

{% macro input(name, label, value='', type='text') %}
<div class="mb-3">
  <label for="{{ name }}" class="form-label">{{ label }}:</label>
  <input type="{{ type }}"
         name="{{ name }}"
         id="{{ name }}"
         value="{{ value }}"
         class="form-control">
</div>
{% endmacro %}

{% macro textarea(name, label, value='', rows=2, classes="") %}
<div class="mb-3">
  <label for="{{ name }}" class="form-label">{{ label }}:</label>
  <textarea name="{{ name }}"
            id="{{ name }}"
            rows="{{ rows }}"
            class="entry-textarea form-control {{classes}}">{{ value }}</textarea>
</div>
{% endmacro %}

{% macro generic_input_field(name, label, value='', type='text', disabled=False, attrs='', feedback='') %}
<div class="mb-3">
  <label for="{{ name }}" class="form-label">{{ label }}</label>

  <input type="{{ type }}"
         name="{{ name }}"
         id="{{ name }}"
         value="{{ value }}"
         class="form-control"
         {% if disabled %}disabled{% endif %}
         {{ attrs|safe }}>

  {% if feedback %}
    <div class="invalid-feedback">
      {{ feedback }}
    </div>
  {% endif %}
</div>
{% endmacro %}

{% macro password_field(name, label, attrs='', feedback='') %}
  {{ generic_input_field(name, label, '', 'password', False, attrs, feedback) }}
{% endmacro %}

{% macro select_field(name, label, options, selected=None) %}
<div class="mb-3">
  <label for="{{ name }}" class="form-label">{{ label }}</label>

  <select name="{{ name }}" id="{{ name }}" class="form-select">
    {% for value, text in options.items() %}
      <option value="{{ value }}"
        {% if value == selected %}selected{% endif %}>
        {{ text }}
      </option>
    {% endfor %}
  </select>
</div>
{% endmacro %}