<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Flask App</title>
  <title>Markdown Editor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <!-- Include the Marked.js library for Markdown parsing -->
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

  <!-- Script to access google apis. Needed for sending data -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <h1>Welcome to My Flask App!</h1>
    <p>This is a simple web page styled with CSS.</p>

    <button id="add-markdown">Add Markdown Block</button>
    <div id="markdown-container"></div>

    <!-- Add the markdown container -->
    <script src="{{ url_for('static', filename='textbox.js') }}"></script>

  </div>
  <button onclick="sendData()">Send Data</button>
  <div id="output"></div>

  <!-- Add the send data code -->
  <script src="{{ url_for('static', filename='senddata.js') }}"></script>


</body>

</html>