{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}About{% endblock title %}</h2>
{% endblock header %}

{% block content %}

<p class="mb-3">
A web site that will write a story using Google Gemini based on your prompts. 
</p>
<p class="mb-3">
The site currently uses gemini-2.5-flash-lite as the AI generator but this may be cofigurable in future.
</p>
<p class="mb-3">
The site is hosted on Google Cloud Run and uses Google Cloud SQL for storage.
</p>
<h4>Version 0.2</h4>
<ol type="1">
<li> Revamp of the story generation pages to allow edit in place </li>
<li> Reworked error handling for the chat service </li>
<li> Standardise validation and messaging</li>
</ol>

<h4>Ideas for the future</h4>
<ol type="1">
  <li>Copying stories</li>
  <li>Adding more parameter options to configure the AI</li>
</ol>


  Instructions are available on the <a href="{{ url_for('pages.instructions') }}">Instructions page</a>.

{% endblock content %}