{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}About{% endblock title %}</h2>
{% endblock header %}

{% block content %}

<p class="mb-3">
A web site that will write a story using Google Gemini based on your prompts. 
</p>
<p class="mb-3">
The site is hosted on Google Cloud Run and uses Google Cloud SQL for storage.
</p>

<h4> Version 0.3</h4>
<ol class="mb-3" type="1">
  <li>Standardise list screens</li>
  <li>Rewrite story update screen and behind the scenes logic</li>
  <li>Allow configuration of chat, including choosing model</li>
</ol>

<h4>Version 0.2.1</h4>
<ol class="mb-3" type="1">
  <li>Extend timeout for file load</li>
  <li>Fix buttons on generate screen</li>
  <li>Handle errors when posting chat</li>
</ol>
<h4>Version 0.2</h4>
<ol type="1" class="mb-3">
<li> Revamp of the story generation pages to allow edit in place </li>
<li> Reworked error handling for the chat service </li>
<li> Standardise validation and messaging</li>
</ol>

<h4>Ideas for the future</h4>
<ol type="1">
  <li>Copying stories</li>
  <li>Replacing the Backend</li>
</ol>


  Instructions are available on the <a href="{{ url_for('pages.instructions') }}">Instructions page</a>.

{% endblock content %}