{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Home{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <p>
    To find instructions visit the <a href="{{ url_for('pages.about') }}">About page</a>.
  </p>
  {% if story is defined %}
    <h4>Latest Story</h4>
    <p>Author: {{current_user.user_name}}</p>
    <p>Title: {{story['title']}}</p>
    <p>Note: {{story['note']}}</p>

    <form method="post">
      <div class="form-group">
        <button type="submit" name="action" value="{{story['story_id']}}" class="btn btn-primary">GoTo</button>
      </div>
    </form>
  {% endif %}
  

{% endblock content %}