{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}{{ 'Update' if char else 'Add' }} Character{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<form method="POST" enctype="multipart/form-data" autocomplete="off">

    {{ macros.input('name', 'Name', char.name if char else '') }}

    {{ macros.textarea('description', 'Description', char.description if char else '') }}

    <div class="mb3">
        <label class="form-label">{% if char and char.image_data %}Replace Image:{% else %}Upload Image:{% endif %}</label>
        <input type="file" id="imageUpload" name="image" class="form-control">
        <div id="fileName" class="form-text"></div>
    </div>

    <div class="d-flex justify-content-start align-items-center gap-4">
        <img id="preview" name="preview" style="display:none; max-width:300px;" />
        {% if char.image_data %}
            <img id="currentImage" name="currentImage" src="{{ char.image_data }}" style="max-width:300px;" />
        {% endif %}

        {% if char.char_id %}
        <div id="summary-box"  data-display-description="{{char.display_description | safe}}" data-description="{{char.image_description}}" class="mb-3 flex-grow-1">
            <span id="summary-box-display">{{char.display_description | safe}}</span>
            <textarea name="image-description" id="image-description" rows="2" class="entry-textarea form-control d-none mb-3">{{char.image_description}}</textarea>
            <div class="d-flex justify-content-start align-items-left gap-2">
                <button type="button" class="btn btn-secondary" id="edit-desc">Edit</button>
                <button type="button" class="btn btn-secondary d-none" id="edit-ok">OK</button>
                <button type="button" class="btn btn-secondary d-none" id="edit-cancel">Cancel</button>
            </div>
        </div>
        {% endif %}
    </div>

    {{macros.textarea('personality', 'Personality', char.personality if char else '')}}

    {{macros.textarea('motivation', 'Motivation', char.motivation if char else '')}}

    <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ 'Update' if char else 'Add' }}</button>
    </div>

</form>

 {{ macros.modalConfirm('Invalid File', 'Error message') }}

 {{ macros.modalConfirm('Notify', 'Notification') }}

 {{ macros.flashMessages() }}

{% endblock content %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/pages/charCreate.js') }}"></script>
{% endblock scripts %}

