{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Characters{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<table id='charTable'>
  <thead>
    <th class="hide">id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Created</th>
    <th class="button_col">Update</th>
    <th class="button_col">Delete</th>
  </thead>

  <tbody>

    {% for char in chars %}
      <tr id="row_{{char['char_id']}}">
        <td class="hide">{{char["char_id"]}}</td>
        <td>{{char["name"]}}</td>
        <td>{{char["description"]}}</td>
        <td>{{char["created"].strftime("%b %d, %Y at %I:%M%p")}}</td>
        <td class="button_col">
          <form method="post">
            <button type="submit" name="action" id="{{char['char_id']}}" value="{{char['char_id']}}" class="btn btn-secondary btn-sm">OK</button>
          </form>
        </td>
        <td class="button_col">
          <button class='btn btn-secondary btn-sm deletebutton' type="button" id="{{char['char_id']}}">OK</button>
        </td>

      </tr>
    {% endfor %}

  <!-- Confirmation Modal -->
  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmTitle">Confirm Delete</h5>
        </div>
        <div class="modal-body">
          Are you sure you want to proceed?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelBtn">Cancel</button>
          <button type="button" class="btn btn-danger" id="confirmBtn">Yes, Proceed</button>
        </div>
      </div>
    </div>
  </div>

  </tbody>
 
 <script>

    function showBootstrapConfirm(callback) {
      const modal = new bootstrap.Modal(document.getElementById("confirmModal"));
      modal.show();

      // Remove previous handlers to avoid stacking
      $('#confirmBtn').off('click').on('click', function () {
        $('#confirmModal').modal('hide');
        callback(true);
      });

      $('#cancelBtn').off('click').on('click', function () {
        $('#confirmModal').modal('hide');
        callback(false);
      });
    } 

    document.querySelectorAll('.deletebutton').forEach(button => {
      button.addEventListener('click', event => {
        var id = event.target.id;
        deleteClicked(id);
      });
    });

    function deleteClicked(id){
      showBootstrapConfirm((confirmed) => {
        if (confirmed) {
          console.log("Confirmed delete character "+ id + "!");
          deleteChar(id);
        }
        else {console.log ("Delete Cancelled.");

        };
      }
    );
    };

    function deleteChar(id) {
      $.ajax({
      url: "/delete_char",
      type: "post",
      data: {'char_id': id},
      dataType: 'json',
      success: function(response) {
        console.log(response);
        var rowid = "row_" + id;
        var r = document.getElementById(rowid);
        var i = r.rowIndex;
        document.getElementById("charTable").deleteRow(i);
       },
      error: function(error) {
        console.log(error);
      }
      })
    }; 
  </script>


</table> 
{% endblock content %}