{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}{{ 'Update' if char else 'Add' }} Character{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<form method="POST" enctype="multipart/form-data" autocomplete="off">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{ char.name if char else '' }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="description"
            class="form-control">{{ char.description if char else '' }}</textarea>
    </div>

    <div class="mb-3">
        <label for="imageUpload" class="btn btn-primary">
            📁 Choose Image
        </label> <span id="fileName" class="text-muted"></span>
        <input type="file" id="imageUpload" name="image" class="d-none">
    </div>

    <img id="preview" name="preview" style="display:none; max-width:300px;" />
    {% if char.image_data %}
        <img id="currentImage" name="currentImage" src="{{ char.image_data }}" style="max-width:300px;" />
    {% endif %}

    <div class="form-group">
        <label for="personality">Personality</label>
        <textarea name="personality" id="personality"
            class="form-control">{{ char.personality if char else '' }}</textarea>
    </div>
    <div class="form-group">
        <label for="motivation">Motivation</label>
        <textarea name="motivation" id="motivation"
            class="form-control">{{ char.motivation if char else '' }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ 'Update' if char else 'Add' }}</button>
    </div>
</form>

 {{ macros.modalConfirm('Invalid File', 'Error message') }}

 {{ macros.flashMessages() }}



<script>

    function setFormMode(mode, row_id) {
        AppState.formMode = mode;
        AppState.editRow = row_id;
    };

    const urlParams = new URLSearchParams(window.location.search);
    const char_id = urlParams.get('char_id');

    const AppState = {
        formMode: "New",
        editRow: -1,
    };

    const input = document.getElementById('imageUpload');
    const fileName = document.getElementById('fileName');
    const currentImage = document.getElementById('currentImage');


    input.addEventListener('change', () => {
        fileName.textContent = input.files[0]?.name || 'No file chosen';
        if (input.files[0].name) {
            const formData = new FormData();
            formData.append("file", input.files[0]);  // input is your file input

            $.ajax({
                url: "/checkimage",
                type: "post",
                data: formData,
                processData: false,
                contentType: false }
            ).done(function (response) {
                    const file = input.files[0];
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        currentImage.src = '';
                        preview.src = e.target.result;
                        preview.style.display = 'block';
                    };
                    reader.readAsDataURL(file)
                }
            ).fail(function (xhr, status, error) {
                fileName.textContent = 'No file chosen';
                input.value=''
                if (xhr.status == "413") {
                        showNotifyModal("File too large", "Error") ;
                    }
                    else {
                        showNotifyModal("Invalid file type", "Error") ;
                    };
                }
            );
        }
    });

</script>
{% endblock content %}