{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}{{"Update" if sysint else "Add"}} AI Guidance{% endblock title %}</h2>
{% endblock header %}

{% block content %}

  <form method="POST" autocomplete="off">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{ sysint.name if sysint else '' }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-control">{{ sysint.description if sysint else '' }}</textarea>
    </div>

    <div class="form-group">
        <label for="instruction">Instruction</label>
        <textarea name="instruction" id="instruction" class="form-control">{{ sysint.instruction if sysint else '' }}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ 'Update' if sysint else 'Add' }}</button>
    </div>
  </form>

 {{ macros.flashMessages() }}

{% endblock content %}