{% extends 'base.html' %}

{% block header %}
  <div class="d-flex justify-content-between align-items-center py-3 px-4 border-bottom">
    <div class="flex-grow-1 text-center">
      <h2 class="m-0">AI Guidance</h2>
    </div>
    <div class="ms-auto">
      <a href="/createsysint" class="btn btn-primary">Add</a>
    </div>
  </div>
{% endblock header %}

{% block content %}
<table id='sysintTable'>
  <thead>
    <th class="hide">id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Created</th>
    <th class="button_col">Update</th>
    <th class="button_col">Delete</th>
  </thead>

  <tbody>

    {% for sysint in sysints %}
      <tr id="row_{{sysint['sysint_id']}}">
        <td class="hide">{{sysint["sysint_id"]}}</td>
        <td>{{sysint["name"]}}</td>
        <td>{{sysint["description"]}}</td>
        <td>{{sysint["created"].strftime("%b %d, %Y at %I:%M%p")}}</td>

        <td class="button_col">
          <form method="post">
            <button type="submit" name="action" id="{{sysint['sysint_id']}}" value="{{sysint['sysint_id']}}"
              class="btn btn-secondary">
              <i class="bi bi-pen-fill"></i>
            </button>
          </form>
        </td>

        <td class="button_col">
          <button class='btn btn-danger btn-secondary deletebutton' type="button" id="{{sysint['sysint_id']}}">
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>

      </tr>
    {% endfor %}

  </tbody>
</table>

{{ macros.modal_box('confirmModal', 'Confirm Delete AI Guidance') }}

<div id="flash-container" style="margin-top: 20px;"></div>

<script>

  document.querySelectorAll('.deletebutton').forEach(button => {
    button.addEventListener('click', event => {
      var id = event.currentTarget.id;
      const row = document.getElementById(id)?.closest("tr");
      const title = row?.cells[1]?.textContent.trim();
      deleteClicked(id,deleteSysint, title);
    });
  });

  function deleteSysint(id) {
    $.ajax({
      url: "/deletesysint",
      type: "post",
      data: { 'sysint_id': id },
      dataType: 'json'
    }
    ).done(function (response) {
      console.log(response);
      var rowid = "row_" + id;
      var r = document.getElementById(rowid);
      var i = r.rowIndex;
      document.getElementById("sysintTable").deleteRow(i);
      if (response.messages) {
        response.messages.forEach(([category, message]) => {
          showFlashMessage(category, message);
        });
      }
    }
    ).fail(function (error) {
      console.log(error);
    });
  };

</script>



  {% endblock content %}