{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}User Login{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <form method="post">
    <input type="text" name="username" placeholder="Username" required autocomplete="off">
    <input type="password" name="password" placeholder="Password" required autocomplete="off">
    <button class="btn btn-primary" type="submit">Login</button>

  </form>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{% if category == "danger"%}error{% else %}{{category}}{% endif %} - {{ message
          }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

{% endblock content %}